<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Sky Cast</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access allows users to capture and share real-time weather conditions, which can be useful for reporting situations during emergencies.</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts access allows users to quickly select and share weather updates or contact important people during emergencies, including reaching out for assistance such as NDRF support when needed.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to provide accurate real-time weather updates, forecasts, and location-based weather news, and to help users identify nearby emergency support such as NDRF teams during severe weather conditions.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is used for voice-based weather search, enabling quick access to information during normal and emergency situations.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library access allows users to upload images related to weather conditions, including sharing visuals during emergency situations.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
